@charset "UTF-8";

body{
  font-family: Raleway;
}

a {
  text-decoration: none;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.content{
  width: 1100px;
  margin: 0 auto;
}

.header{
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 15px 0;
}

.header-inner{
}

.bolt-icon{
  font-size: 40px;
  color: #808080;
  float: left;
}

.header-btn{
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  float: right;
  transition: 0.3s;
}

.header-btn:hover{
  transition: 0.3s;
  color: #333;
}

.main{
  padding-top: 71px;
}

.main-inner-title{
  width: 100%;
  background-color: #f2f2f2;
  padding: 250px 0;
}

.main-block{
  text-align: center;
}

.main-title{
  margin-bottom: 20px;
  font-size: 90px;
  color: #74cfae;
  font-weight: 700;
}

.main-title-text{
  font-size: 30px;
  color: #c0c0c0;
  width: 100%;
}

.top-content-inner{
  width: 100%;
  background-color: #74cfae;
  padding-top: 50px;
}

.top-content{
  color: #fff;
}

.top-content-img{
  float: left;
  margin: 0 10% 0 5%;
}

.top-content-block{
  text-align: center;
}

.top-content-title{
  font-size: 24px;
  margin-bottom: 35px;
}

.top-content-text{
  font-size: 20px;
  line-height: 30px;
}

.middle-content-inner{
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}

.middle-content{
  color: #808080;
}

.middle-content-title{
  font-size: 24px;
  text-align: center;
}

.middle-content-img{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  padding-top: 40px;
}

.image{
  margin-top: 80px;
  margin-left: 100px;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.image:hover{
  opacity: 1.0;
  transition: 0.3s;
}

.image:nth-child(3n+1){
  margin-left: 0;
}

.image:nth-child(-n+3){
  margin-top: 0;
}

.middle-content-bottom{
  margin-top: 90px;
}

.middle-content-text{
  padding: 0 90px;
  font-size: 20px;
  width: 60%;
  float: left;
  text-align: center;
  line-height: 30px;
}

.mail-btn{
  font-size:12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  float: left;
  transition: 0.3s;
}

.mail-btn:hover{
  color: #333;
  transition: 0.3s;
}

.bottom-content-inner{
  width: 100%;
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.bottom-content{
  text-align: center;
}

.bottom-block{
  margin-bottom: 70px;
}

.bottom-title{
  font-size: 24px;
  color: #fff;
}

.cercle{
  width: 1028px;
  margin: 0 auto;
}

.cercle-image{
  margin-left: 180px;
  float: left;
  color: #fff;
  font-size: 16px;
}

.cercle-image:first-child{
  margin-left: 0;
}

.cercle-image p{
  margin-top: 10px;
}

.last-content-inner{
  width: 100%;
  background-color: #f2f2f2;
}

.last-content{
  padding: 200px 0;
}

.last-content-img{
  display: flex;
  justify-content: center;
}

.icon{
  text-align: center;
  width: 185px;
  padding: 40px 0;
  color: #74cfae;
  font-size: 50px;
  background-color: #f2f2f2;
  transition: 0.3s;
}

.icon:hover{
  transition: 0.3s;
  background-color: #fff;
}

.footer{
  width: 100%;
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer-inner{
  width: 1100px;
  margin: 0 auto;
}

.footer-text{
  text-align: right;
  color: #fff;
}